
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #9b4376, #c04477);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    
    max-width: 1000px;
    padding : 2rem;
    padding-top: 3rem;
    background-color: white;
    border-radius: 1rem;
}